<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<title>会员注册</title>
<script type="text/javascript" src="/wx/js/jquery.js"></script>
<script src="/wx/js/storage.js"></script>

<style type="text/css">
  body{
    background-color: #000;
  }
  div{
    position: absolute;
    box-sizing:border-box;
    box-shadow: 0 0 20px #fff;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 300px;
    border:10px solid #ee3e80;
    transition:all 1s;
  }
  div:hover{
    transform:scale(2) rotate(10deg);
  }
</style>



<script type="text/javascript">

  function callback(result) {  
    alert('success');  
    alert(result);  //输出openid
  }  
    
  function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]); return null;
    }


  var code = getQueryString("code");

  $.ajax({ 
      async: false, 
      url: "http://mushaf.sinaapp.com/oauth2.php", 
      type: "GET", 
      dataType:"json",
      data: {code:code}, //传递本页面获取的code到后台，以便后台获取openid
      //timeout: 5000, 
      success: function (result) { 
          //callback(result);
          alert("ajax success");
          alert(result.openid);
          setCookie("openID",result.openid,100);
      },
      error: function (jqXHR, textStatus, errorThrown) { 
          alert("ajax error");
          //alertt(jqXHR);
          alert(textStatus); 
          alert(errorThrown);
          var ans=errorThrown;
          document.write(ans);
      } 
  });
</script>


</head>
<body>

<div></div>

</body>
</html>