<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>IOT-账号绑定</title>
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no"/>
		<meta name="renderer" content="webkit">
		<meta name="theme-color" content="#ee3e80">
		<link href="/wx/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/iot.css" rel="stylesheet" type="text/css">

		<script src="/wx/js/jquery.js"></script>
		<script src="/wx/js/bootstrap.js"></script>
		<script src="/wx/js/storage.js"></script>
		<script src="/wx/js/iot.js"></script>
	</head>
	<body>
		<div class="jumbotron" style="display:none">
			<div class="row">
				<div class="col-sm-4">
					<button class="btn btn-primary" type="button">
					  总计访问次数(localstorage)： <span id="localstor" class="badge">4</span>
					</button>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-info" type="button">
					  本次浏览次数(sessionstorage)： <span id="sessionstor" class="badge">4</span>
					</button>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-warning" type="button">
					  cookie(username)： <span id="mycookie" class="badge">4</span>
					</button>
				</div>
			</div> 	
		  <h1>Hello, world!</h1>
		  <p>中移物联网员工服务平台</p>
		  <p><a id="addnode" class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		  <p id="addtarget"></p>
		</div>
		<div class="container-fluid">
			<div class="row">
				<h1 class="text-center">中移物联网</h1>
				<h3 class="text-center">帐号绑定<h3>
				<p class="text-center slim">为确保每一位中移物联网员工享受到更优质的服务，<strong>请绑定您的账户</strong></p>
			</div>
			<div class="row">
				<div id="binding" class="likebtn"><a href="binding.html">立即绑定</a></div>
			</div>
		</div>
	</body>
</html>