<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>系统管理</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no"/>
		<meta name="renderer" content="webkit">
		<meta name="theme-color" content="#ee3e80">
		<link href="/wx/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/manage.css" rel="stylesheet" type="text/css">

		<script src="/wx/js/jquery.js"></script>
		<script src="/wx/js/bootstrap.js"></script>
		<script src="/wx/js/manage.js"></script>
	</head>
	<body>

      <!-- Static navbar -->
      <div class="book_container">

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <h2 class="margin-top-5"><span class="label label-success">中移物联网</span></h2>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><a href="manage_book.html">图书管理</a></li>
                <li><a href="manage_user.html">用户管理</a></li>
                <li><a href="manage_order.html">预约办理</a></li>
				<li><a href="manage_welfare.html">福利管理</a></li>
                <li class="active"><a href="manage_policy.html">政策管理</a></li>
				
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">这里显示时间</a></li>
                <li><a href="../navbar-fixed-top/">退出</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav> 
		<div><h2 align="center" class="font-yahei" >政策管理</h2></div>
		<div>
			<div class="float-left">
				<button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal2">添加新政策</button>
				<h5 style="float:right"> &nbsp;&nbsp;当前政策数目：<kbd>18</kbd></h5>
			</div>
			<div class="float-right ">
			     <form class="navbar-form navbar-left search-margin" role="search" >
					<div class="form-group">
					  <input type="text" class="form-control " placeholder="Search....">
					</div>
					<button type="submit" class="btn btn-danger">搜索</button>
				</form>
			  
			</div>
		</div>
		<br><br>
		<div class="float-right">
				<font class="font-songti">排序方式: </font>
				  
				  <select  name="order">
					<option value="name"  selected="selected">名称</option>
					<option value="time">修改时间</option>
				 </select>
				  
			
		</div>
		
        <table class="table table-striped table-hover " id="table-policy-list">
          <tr>
			<th hidden>ID</th>
            <th>名称</th>
			<th class="col-sm-5">内容</th>
            <th>修改时间</th>
            <th>操作</th>
          </tr>
          <tr>
			<td hidden>隐藏ID</td>
            <td>养老保险</td>
            <td>养老保险就是屌啊</td>
            <td>2008-5-5</td>
            <td>
				<button type="button" class="btn btn-primary btn-sm btn-policy-update" data-toggle="modal" data-target="#myModal">修改</button>
				<button type="button" class="btn btn-default btn-sm btn-policy-delete"  data-toggle="modal" data-target=".bs-example-modal-sm">删除</button>
			</td>
          </tr>         
          <tr>
			<td hidden>隐藏ID2</td>
            <td>xxx</td>
            <td>xxx</td>
            <td>xxx</td>
            
			<td>
				<button type="button" class="btn btn-primary btn-sm  btn-policy-update" data-toggle="modal" data-target="#myModal">修改</button>
				<button type="button" class="btn btn-default btn-sm  btn-policy-delete"  data-toggle="modal" data-target=".bs-example-modal-sm">删除</button>
			</td>
          </tr>  
		  
        </table>
		
	</div>
	
	

	<!-- Modal -->
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="font-yahei" >删除</h4>
				</div>
				<div class="modal-body">
				    <h3 align="center" class="font-yahei" >确认删除这条记录?<h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-policy-delete-confirm" data-dismiss="modal">确定</button>
					<button type="button" class="btn btn-default btn-policy-delete-quit" data-dismiss="modal">取消</button>
       			</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div clases="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h2 class="modal-title font-yahei" id="myModalLabel" align="center" >修改政策信息</h2>
		  </div>
			<div class="modal-body">
		  
				<form class="form-horizontal">
					<div class="form-group " hidden>
						<label for="name" class="col-sm-3 control-label">ID</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="ID" name="ID" >
						</div>
					</div>
					<div class="form-group form-margin-bottom" >
						<label for="name" class="col-sm-3 control-label">名称</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" id="name" name="name" >
						</div>
					</div>
					
					<div class="form-group form-margin-bottom">
						<label for="brief" class="col-sm-3 control-label">内容</label>
						<div class="col-sm-7"><textarea rows="5" class="form-control" id="content" name="content" ></textarea></div>
					</div>
				</form>
			</div>
		
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div clases="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h2 class="modal-title font-yahei" id="myModalLabel" align="center">新增政策</h2>
		  </div>
			<div class="modal-body">		  
				<form class="form-horizontal" id="form-policy-add">
					
					<div class="form-group form-margin-bottom">
						<label for="name" class="col-sm-3 control-label">名称</label>
						<div class="col-sm-7"><input type="text" class="form-control" id="addName" name="name" >
						</div>
					</div>
					<div class="form-group form-margin-bottom">
						<label for="brief" class="col-sm-3 control-label">内容</label>
						<div class="col-sm-7"><textarea rows="5" class="form-control" id="addContent" name="content" ></textarea></div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary " id="btn-policy-add" data-dismiss="modal">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	  </div>
	  
	</div>





	</body>
</html>