<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>IOT-个人信息</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no"/>
		<meta name="renderer" content="webkit">
		<meta name="theme-color" content="#ee3e80">
		<link href="/wx/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/iot.css" rel="stylesheet" type="text/css">
		<script src="/wx/js/jquery.js"></script>
		<script src="/wx/js/bootstrap.js"></script>
		<script src="/wx/js/iot.js"></script> 
	</head>

	<body>
		<div class="container individual">
			<div class="row">
				<br/>
				<div class="col-xs-12 text-center">
					我的积分：<span id="score" style="color:#ee3e80">....</span><br/>
				</div>
				<div class="col-xs-12">
					我的借阅记录：
				</div>
			</div>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title az">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          待归还书目
			        </a>
			      </h4>    
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">

					<table class="table table-striped table-hover individual-table borrowing_table"  id="borrowing">
						<tr>
							<th>书名</th>
							<th>作者</th>
							<th>出版社</th>
							<th></th>
						</tr>
					</table>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title az">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          已归还书目
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">

					<table class="table table-striped table-hover individual-table" id="borrowed">
						<tr id="borrowed_th">
							<th>书名</th>
							<th>作者</th>
							<th>出版社</th>		
						</tr>
					</table>

			      </div>
			    </div>
			  </div>
			</div>
		</div>
		<div id="masker-ind"></div>
		<div id="popup-ind">
			<br>
			<b>归还确认</b><hr style="border-bottom:1px solid #999;"/>
			<div>	
			    <p>亲，评个分吧：<span style="color:#e00;font-weight:bold" id="showPoint">3分</span></p>
			    <input type="range" id="trackBar" value="3" />	    
				<br/>
				<br/>
				<span id="escheat-yes" class="btn goodbtn">确定</span>
				<span id="escheat-no" class="btn goodbtn">再看看</span>
			</div>	
		</div>
		<script>
			$(function(){			
				//range评分控件的js
		        var trackBar = document.getElementById("trackBar");
		        //初始化trackBar
		        trackBar.min = 1;
		        trackBar.max = 5;
		        trackBar.step = 1;
		        trackBar.value = 3;
		        trackBar.addEventListener("change",function(){
		            var showPoint = document.getElementById("showPoint");
		            showPoint.innerHTML = this.value + '分';
		        });
				//获取用户借阅记录
				//var openId = getCookie("openId");
				var openId = getQueryString("openId");
				
				$.ajax({
					type:"POST",
					url:"individual.do",
					data:{
						openId:openId
					},
					dataType:"json",
					success: function(result){
						if (result.success) {
							showRecord(result);
						} else {
							alert("抱歉，信息载入失败");
						}
					},
					error: function(jqXHR){
					   alert("个人记录ajax发生错误：" + jqXHR.status);  
					},
				});		
				function showRecord(result){
					$("#borrowing tr:gt(0)").remove();
					$("#borrowed tr:gt(0)").remove();
					var borrowingTable = $("#borrowing");
					var borrowedTable = $("#borrowed");	
					//显示积分
					$("#score").text(result.score);		
					//显示在借书目列表
					$.each(result.borrowing,function(k,v){
						var td_object={};
						$.each(v, function(k1, v1) {
							td_object[''+k1+'']=v1;
							console.log(k1+'  '+v1);
						});
						var tr=$("<tr/>");
						tr.html('<td>'+td_object.bookName+'</td><td>'+td_object.author+'</td><td>'+td_object.publisher+'</td><td><span class="go-popup escheat btn-success">归还</span></td><td style="display:none">'+td_object.id+'</td>');
						tr.appendTo(borrowingTable);
					});
					//显示已经归还书目列表
					$.each(result.borrowed,function(k,v){
						var td_object={};
						$.each(v, function(k1, v1) {
							td_object[''+k1+'']=v1;
							console.log(k1+'  '+v1);
						});
						var tr=$("<tr/>");
						tr.html('<td>'+td_object.bookName+'</td><td>'+td_object.author+'</td><td>'+td_object.publisher+'</td>');
						tr.appendTo(borrowedTable);
					});
				}
			});
		</script>
	</body>

</html>