<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>中移物联网员工服务</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no"/>
		<meta name="renderer" content="webkit">
		<meta name="theme-color" content="#ee3e80">
		<link rel="shortcut icon" href="/wx/img/favicon.ico" type="image/x-icon"/>
		<link href="/wx/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/manage.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/jquery.pagination.css" rel="stylesheet">

		<script src="/wx/js/jquery.js"></script>
		<script src="/wx/js/bootstrap.js"></script>
		<script src="/wx/js/app/appointmentDetail.js"></script>
		<script src="/wx/js/jquery.pagination.js"></script>
		
		
	</head>
	<body>

      <!-- Static navbar -->
      <div class="book_container">

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <h2 class="margin-top-5"><span class="label label-success">中移物联网</span></h2>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
               	<li><a href="/wx/admin/book/list.do">图书管理</a></li>
                <li><a href="/wx/admin/employee/list.do">用户管理</a></li>
                <li class="active"><a href="/wx/admin/appointment/list.do">预约办理</a></li>
				<li><a href="/wx/admin/welfare/list.do">福利管理</a></li>
                <li><a href="/wx/admin/policy/list.do">政策管理</a></li>
				
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="currentTime"></a></li>
                <li><a href="/wx/admin/logout.do">退出</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav> 
        
		<div><h2 align="center" class="font-yahei" >预约办理</h2></div>
		<div>
		   <p><h1><span id="welfareName" class="label label-default">养老保险</span></h1></p>
	    </div>
		<div class="float-left"><h4 class="font-yahei">未处理申请：<kbd id="count" class="count">..</kbd></h4></div>
		<!-- <div class="float-right ">
			     <div class="navbar-form navbar-left search-margin" role="search" >
					<div class="form-group">
					  <input type="text" name="keyword" id="keyword" class="form-control " placeholder="输入工号/姓名">
					</div>
					<button type="submit" id="searchBtn" class="btn btn-danger">搜索</button>
				</div>
			  
		</div> -->
		<div class="float-right margin-top-5">
				<font class="font-songti">排序方式: </font>
				  <select  name="order">
					<option value="applyTime">------</option>
					<option value="userNo">工号</option>
					<option value="username">姓名</option>				
				 </select>	
		</div>
	
        <table width="66%" class="table table-striped table-hover"id="listTable">
        <thead>
          <tr>
            <th >序号</th>
			<th >工号</th>
            <th >姓名</th>
            <!-- <th >联系电话</th> -->
            <th >申请时间</th>
            <th >审批时间</th>
            <th>状态</th>
            <th >操作</th>
          </tr>       
         </thead>
         <tbody>
         
         </tbody>
        </table>
        <div class="float-right">
        	 <div id="searchInfo" style="display:inline-block;margin-top:23px;vertical-align:top">
        	 	 	共...条记录
        	 </div>
        	<div id="pagination" style="display:inline-block"></div>
        	<div style="display:inline-block;margin-top:20px;vertical-align:top">
        	 	<input type="text" size="1" id="page" name="page" >
        	 	<button type="submit" id="getPage">go!</button>
        	</div>
        	<div style="display:inline-block;margin-top:23px;vertical-align:top">
        		<label class="control-label font-songti"> &nbsp;每页数量：</label>
        		  <select id="itemsPerPage" name="itemsPerPage">
					<option value=5>5</option>
					<option value=10 selected="selected">10</option>
					<option value=15>15</option>
					<option value=20>20</option>
				 </select>	
        	</div>
        </div>
        
		<div>
		     <a href="list.do"><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2">返回主界面</button></a>
		</div>
	</div>	
	</body>
</html>