<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/task  
		http://www.springframework.org/schema/task/spring-task-3.2.xsd">

	<!-- task任务扫描注解 -->  
	<task:annotation-driven/>
	<context:component-scan base-package="com.common.listener"></context:component-scan>
	
	<!-- 业务类扫描 -->
	<context:component-scan base-package="com">
		<context:exclude-filter type="regex"
			expression="com.controller.*" />
	</context:component-scan>
	<context:component-scan base-package="com.common.Global"/>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
            	<!-- 微信常量配置 -->
                <value>classpath*:/config/wx.properties</value>                
            	<!-- DB常量配置 -->
                <value>classpath*:/config/db.properties</value>
                <!--要配置文件需继续添加即 -->
            </list>
        </property>
    </bean>
	
	<!-- db配置 -->
	<!-- <context:property-placeholder
		ignore-unresolvable="true" location="classpath*:/config/db.properties" />
 -->
	<!-- 采用proxool的jdbc数据源配置 -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="alias">
			<value>proxool</value>
		</property>
		<!-- 数据库连接 -->
		<property name="driver" value="${jdbc.driver}" />
		<property name="driverUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />

		<!-- 连接池配置 -->
		<property name="houseKeepingSleepTime" value="30000" />
		<property name="prototypeCount" value="5" />
		<property name="maximumConnectionCount" value="100000" />
		<property name="minimumConnectionCount" value="50" />
		<property name="trace" value="true" />
		<property name="verbose" value="true" />
		<!--没有空闲连接可以分配而在队列中等候的最大请求数,超过这个请求数的用户连接就不会被接受 -->
		<property name="simultaneousBuildThrottle" value="10" />
		<!--用于保持连接的测试语句 -->
		<property name="houseKeepingTestSql" value="SELECT ID FROM BASE_FUNCTION" />

	</bean>


	<!--Hibernate SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<!-- <property name="configLocation" value="classpath:/config/hibernate/hibernate.cfg.xml" 
			/> -->
		<property name="annotatedClasses">
			<list>
				<value>com.entity.User</value>
				<value>com.entity.Book</value>
				<value>com.entity.Welfare</value>
				<value>com.entity.Borrow</value>
				<value>com.entity.Employee</value>
				<value>com.entity.BoundInfo</value>		
				<value>com.entity.Policy</value>
				<value>com.entity.Appointment</value>					
			</list>
		</property>

		<property name="hibernateProperties">
			<value>
				hibernate.show_sql=false
				hibernate.hbm2ddl.auto=update
			</value>

		</property>

		<property name="dataSource" ref="dataSource" />
	</bean>

	<!--jdbc事务管理器 <bean id="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="dataSource" /> </bean> -->

	<!--事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!--事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<!-- 设置权限控制拦截器-->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*.do" />			
			<bean class="com.common.filter.AuthorityFilter">
			</bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
	<!-- <bean id="timeBasedAccessInterceptor" class="com.common.filter.AuthorityFilter"/>    
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">    
        <property name="interceptors">    
            <list>    
                <ref bean="timeBasedAccessInterceptor"/>    
            </list>    
        </property>    
    </bean> -->    
</beans>