<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>中移物联网员工服务</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no"/>
		<meta name="renderer" content="webkit">
		<meta name="theme-color" content="#ee3e80">
		<link href="/wx/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/manage.css" rel="stylesheet" type="text/css">

		<script src="/wx/js/jquery.js"></script>
		<script src="/wx/js/bootstrap.js"></script>
        <script src="/wx/js/app/welfare.js"></script>
        <script src="/wx/js/app/common.js"></script>

	</head>
	<body>

      <!-- Static navbar -->
      <div class="book_container">

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h2 class="margin-top-5"><span class="label label-success">中移物联网</span></h2>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/wx/admin/book/list.do">图书管理</a></li>
                <li><a href="/wx/admin/employee/list.do">用户管理</a></li>
                <li><a href="/wx/admin/appointment/list.do">预约办理</a></li>
				<li class="active"><a href="/wx/admin/welfare/list.do">福利管理</a></li>
                <li><a href="/wx/admin/policy/list.do">政策管理</a></li>
				
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="currentTime"></a></li>
                <li><a href="/wx/admin/logout.do">退出</a></li>
						
				</li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav> 
		<div><h2 align="center" class="font-yahei" >福利管理</h2></div>
		<div>
			<div class="float-left">
				<button id="addBtn" type="button" class="btn btn-info " data-toggle="modal" data-target="#auModal">添加福利</button>
				<h5 style="float:right"> &nbsp;&nbsp;当前福利数目：<kbd>19</kbd></h5>
			</div>
			<div class="float-right ">
			     <div class="navbar-form navbar-left search-margin" role="search" >
					<div class="form-group">
					  <input type="text" name="keyword" id="keyword" class="form-control " placeholder="福利">
					</div>
					<button id="searchBtn" type="submit" class="btn btn-danger">搜索</button>
				</div>

			</div>
		</div>
		<br><br>
				
<div class="float-right">
				<font class="font-songti">排序方式: </font>
				  
				  <select  name="order">
					<option value="name"  selected="selected">福利名</option>
					<option value="introduction">简介</option>	 
				 </select>	
		</div>
		
        <table class="table table-striped table-hover " id="listTable">
          <thead>
	          <tr>
				<th>序号</th>
				<th>福利名</th>
	            <th class="col-sm-4">福利简介</th>
				<th>状态</th>
	            <th>操作</th>
	          </tr>
          </thead>
          <tbody>
          
          </tbody>
        </table>
		<div align="center">
			<nav>
			  <ul class="pagination">
				<li>
				  <a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				  </a>
				</li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
				  <a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				  </a>
				</li>
			  </ul>
			</nav>
		</div>
		
	</div>
	
	

	<div class="modal fade" id="auModal" tabindex="-1" role="dialog" aria-labelledby="auModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h2 class="modal-title font-yahei" id="auModalLabel" align="center" >福利信息</h2>
		  </div>
			<div class="modal-body">
		  
				<form class="form-horizontal">
					<div class="form-group " hidden=true>
						<label for="name" class="col-sm-3 control-label">ID</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="id" name="id" >
						</div>
					</div>
					<div class="form-group " hidden=true>
						<label for="name" class="col-sm-3 control-label">State</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="state" name="state" >
						</div>
					</div>
					<div class="form-group form-margin-bottom" >
						<label for="name" class="col-sm-3 control-label">福利名</label>
						<div class="col-sm-7">
							<input type="text" class="form-control" id="name" name="name" >
						</div>
					</div>
					<div class="form-group form-margin-bottom">
						<label for="brief" class="col-sm-3 control-label">简介</label>
						<div class="col-sm-7"><textarea rows="4" class="form-control" id="introduction" name="introduction" ></textarea></div>
					</div>
				</form>
			</div>	
			<div class="modal-footer">
				<button type="button" id="saveBtn"class="btn btn-primary">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	  </div>
	</div>
	
	</body>
</html>