<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>预约详情</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no"/>
		<meta name="renderer" content="webkit">
		<meta name="theme-color" content="#ee3e80">
	<link href="/wx/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/manage.css" rel="stylesheet" type="text/css">

		<script src="/wx/js/jquery.js"></script>
		<script src="/wx/js/bootstrap.js"></script>
		
	</head>
	<body>

      <!-- Static navbar -->
      <div class="book_container">

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <h2 class="margin-top-5"><span class="label label-success">中移物联网</span></h2>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><a href="manage_book.html">图书管理</a></li>
                <li><a href="manage_user.html">用户管理</a></li>
                <li class="active"><a href="manage_order.html">预约办理</a></li>
				<li><a href="manage_welfare.html">福利管理</a></li>
                <li ><a href="manage_policy.html">政策管理</a></li>
				
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">这里显示时间</a></li>
                <li><a href="navbar-fixed-top/">退出</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </nav> 
		<div><h2 align="center" class="font-yahei" >预约办理</h2></div>
		<div>
		   <p><h1 ><span class="label label-default">养老保险</span></h1></p>
       </div>
		<div class="float-left"><h4 class="font-yahei">未处理申请：<kbd>3</kbd></h4></div>
		<div class="float-right margin-top-5">
				<font class="font-songti">排序方式: </font>
				  
				  <select  name="order">
					<option value="number"  selected="selected">序号</option>
					<option value="workNum">工号</option>
					<option value="name">姓名</option>
					<option value="phone">联系电话</option>
					<option value="time">申请时间</option>
					
					
				 </select>	
		</div>
		
		
        <table width="66%" class="table table-striped table-hover">
          <tr>
            <th >序号</th>
			<th >工号</th>
            <th >姓名</th>
            <th >联系电话</th>
            <th >申请时间</th>
            <th >审批时间</th>
            <th >状态</th>
          </tr>
          <tr>
		    <td hidden>隐藏ID1</td>
            <td>1</td>
            <td>123456</td>           
			<td >高明</td>
			<td >1599139765</td>
			<td >2015-08-06</td>
			<td >办理完成的时间</td>
			<td >
				<button type="button" class="btn btn-primary btn-sm btn  " data-toggle="modal" data-target="#myModal">通过</button></button>
				<button type="button" class="btn btn-default btn-sm btn-oreder-delete " data-toggle="modal" data-target=".bs-example-modal-sm" >退回</button>	
			</td>
          </tr>         
         
       
        </table>
		<div>
		     <a href="list.html"><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2">返回主界面</button></a>
		</div>
	</div>
	
	
	<!-- Modal -->
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="font-yahei" >退回</h4>
				</div>
				<div class="modal-body">
				    <h3 align="center" class="font-yahei" >确认退回这条记录?<h3>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary btn-book-delete-confirm" data-dismiss="modal">确定</button>
					<button type="button" class="btn btn-default btn-book-delete-quit" data-dismiss="modal">取消</button>
       			</div>
			</div>
		</div>
	</div>
	
	
	</body>
</html>