<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>系统管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
<meta name="format-detection" content="telphone=no, email=no" />
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ee3e80">
<link href="/wx/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/wx/css/bootstrap-theme.css" rel="stylesheet"
	type="text/css">
<link href="/wx/css/manage.css" rel="stylesheet" type="text/css">

<script src="/wx/js/jquery.js"></script>
<script src="/wx/js/bootstrap.js"></script>
<script src="/wx/js/app/common.js"></script>
<script src="/wx/js/app/employee.js"></script>
</head>
<body>
	<!-- Static navbar -->
	<div class="book_container">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<h2 class="margin-top-5">
						<span class="label label-success">中移物联网</span>
					</h2>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/wx/admin/book/list.do">图书管理</a></li>
						<li class="active"><a href="/wx/admin/employee/list.do">用户管理</a></li>
						<li><a href="/wx/admin/appointment/list.do">预约办理</a></li>
						<li><a href="/wx/admin/welfare/list.do">福利管理</a></li>
						<li><a href="/wx/admin/policy/list.do">政策管理</a></li>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">这里显示时间</a></li>
						<li><a href="#" data-toggle="modal" data-target="#exitModal">退出</a>

						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>


		<div>
			<h2 align="center" class="font-yahei">用户管理</h2>
		</div>
		<div>
			<div class="float-left">
				<button id="addBtn" type="button" class="btn btn-info "
					data-toggle="modal" data-target="#auModal">添加新用户</button>
				<h5 style="float: right">
					&nbsp;&nbsp;总共用户数目：
					<kbd>389</kbd>
				</h5>
			</div>
			<div class="float-right ">
				<div class="navbar-form navbar-left search-margin" role="search">
					<div class="form-group">
						<input type="text" name="keyword" id="keyword"
							class="form-control " placeholder="员工姓名/工号/职位">
					</div>
					<button type="submit" id="searchBtn" class="btn btn-danger">搜索</button>
				</div>
			</div>
		</div>
		<br> <br>
		<div class="float-right">
			<font class="font-songti">排序方式: </font> <select name="order">
				<option value="name" selected="selected">工号</option>
				<option value="workNum">姓名</option>
				<option value="department">部门</option>
				<option value="position">职位</option>
				<option value="point">阅读积分</option>

			</select>
		</div>

		<table class="table table-striped table-hover " id="listTable">
			<thead>
				<tr>
					<th>序号</th>
					<th>工号</th>
					<th>姓名</th>
					<th>性别</th>
					<th>部门</th>
					<th>职位</th>
					<th>阅读积分</th>
					<th>借阅情况</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
		<div align="center">

			<a href="manage_user/add"></a>
			<button type="button" class="btn btn-default btn-sm-right">上一页</button>
			<a href="manage_user/add"></a>
			<button type="button" class="btn btn-default btn-sm-right">下一页</button>

		</div>
	</div>



	<div class="modal fade" id="auModal" tabindex="-1" role="dialog"
		aria-labelledby="auModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div clases="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h2 class="modal-title font-yahei" id="auModalLabel" align="center">员工信息</h2>
				</div>
				<div class="modal-body">

					<form class="form-horizontal">
						<div class="form-group " hidden>
							<label for="name" class="col-sm-3 control-label">ID</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="id" name="id">
							</div>
						</div>
						<div class="form-group form-margin-bottom">
							<label for="userNo" class="col-sm-3 control-label">工号</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="userNo"
									name="userNo">
							</div>
						</div>
						<div class="form-group  form-margin-bottom">
							<label for="username" class="col-sm-3 control-label">姓名</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="username"
									name="username">
							</div>
						</div>
						<div class="form-group form-margin-bottom">
							<label for="gender" class="col-sm-3 control-label">性别</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="gender"
									name="gender">
							</div>
						</div>
						<div class="form-group form-margin-bottom">
							<label for="department" class="col-sm-3 control-label">部门</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="department"
									name="department">
							</div>
						</div>
						<div class="form-group form-margin-bottom">
							<label for="point" class="col-sm-3 control-label">职位</label>
							<div class="col-sm-7">
								<input type="text" class="form-control" id="position"
									name="position">
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="saveBtn">保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>


		</div>
	</div>

</body>
</html>
