<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>系统管理</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
		<meta name="format-detection" content="telphone=no, email=no"/>
		<meta name="renderer" content="webkit">
		<meta name="theme-color" content="#ee3e80">
		<link href="/wx/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
		<link href="/wx/css/manage.css" rel="stylesheet" type="text/css">

		<script src="/wx/js/jquery.js"></script>
		<script src="/wx/js/bootstrap.js"></script>
		
	</head>
	<body background="/wx/img/2.jpg">
		
			
		<div >
			<div class="login_container" ><br><br>
				
				<br><br><br><br><br>
				<div class="float-left" style="margin-left:80px">
					  <br><br>
					  <p><h1 class="font-yahei">  &nbsp;&nbsp;欢迎来到中移物联网</h1></p>
					  <p><h1 class="font-yahei">图书管理系统 !</h1></p>
					  <br>
					  <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.10086.cn/sc_head/images/logo.png"</p>
				</div>
				<br>	<br>	
			  <div style="width:35% " class=" float-right">
				  <form class="form-signin">
					<h2 class="form-signin-heading font-yahei" align="center">请登录</h2>
					<label for="username" >用户名</label>
					<input type="text" id="username" class="form-control" placeholder="用户名" required autofocus>
					<label for="password" >密码</label>
					<input type="password" id="password" class="form-control" placeholder="密码" required>
					<div class="checkbox">
					  <label>
						<input type="checkbox" value="remember-me"> 记住我
					  </label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
				  </form>
			   </div>
			</div> <!-- /container -->
		</div>

	
	</body>
</html>